:root {
    background-color: black;
    color: $uni-text-color-inverse;
}
.new {
    height: 100%;
    background-color: #000;
    color: $uni-text-color-inverse;
    padding: 0 32rpx;
}

.bj1 {
    height: 480rpx;
}
.content1 {
    font-size: $uni-font-size-lg;
    color: #d9dae1;
    text-align: center;
    margin-bottom: 27rpx;
}
.content2 {
    font-size: $uni-font-size-base;
    line-height: 28px;
    color: #888a9c;
    text-align: center;
    margin-bottom: 150rpx;
}
//推荐商品
.moreproducts {
    width: 100%;
    .title-img {
        width: 200rpx;
        height: 25rpx;
        &:last-child {
            transform: rotateY(180deg);
        }
    }
    .title-text {
        margin: 0 26rpx;
        color: $uni-text-color-inverse;
    }
    .recommend {
        margin-top: 64rpx;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 36rpx;
    }
}
.moreproducts-item {
    border-radius: 10rpx;
    background: #202121;
    width: 325rpx;
    .moreproducts-img {
        position: relative;
        height: 359rpx;
        font-size: $uni-font-size-base;
        .moreproducts-text {
            position: absolute;
            bottom: 6rpx;
            padding: 0 22rpx;
            color: #bcbcbc;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            /*! autoprefixer: off */
        }
    }
    .sales {
        padding: 25rpx 24rpx;
        color: #fff;
    }
}
//广告
.adContainer {
    position: relative;
    // position: fixed;
    // bottom: 52rpx;
    // left: 50%;
    // transform: translateX(-50%);
    margin-top: 130rpx;
    margin-bottom: 78rpx;
    border-radius: 16rpx;
    display: inline-block;
    &.none {
        display: none;
    }
}
.swiper-banner {
    width: 678rpx;
    height: 274rpx;
}
.swiper-item image {
    width: 100%;
    height: 100%;
}
.btn-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12rpx 23rpx;
    background-color: #000;
    color: $uni-text-color-inverse;
    text-align: center;
    opacity: 0.2;
    border-top-right-radius: 16rpx;
    font-size: $uni-font-size-sm;
    float: right;
}

.ad-img {
    width: 100%;
    height: 100%;
    border-radius: 16rpx;
}
