.account {
    margin-top: 22rpx;
    padding: 46rpx 32rpx;
    background: $uni-bg-color;
    border-radius: 24rpx;
    justify-content: space-between;
    .share {
        .text-share {
            font-size: $uni-font-size-middle;
            color: #2a2b2c;
        }
        .data-surplus {
            margin-top: 47rpx;
            font-size: $uni-font-size-sm;
            color: $uni-text-color-tip;
            .surplus {
                margin-top: 24rpx;
                .text-surplus {
                    font-size: $uni-font-size-middle;
                    color: #2a2b2c;
                }
            }
        }
    }
    .text {
        font-size: 42rpx;
        &.positive {
            background: linear-gradient(180deg, #24db5a 0%, #3dbc5f 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
        &.negative {
            color: $uni-color-primary;
        }
    }
    .text-integral {
        color: $uni-color-primary;
        font-size: 42rpx;
    }
    .text-negative {
        background: linear-gradient(180deg, #24db5a 0%, #3dbc5f 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        // background-clip: text;
        // text-fill-color: transparent;
        font-size: 42rpx;
    }
}
