.main {
    background-color: #f7f8fa;
    padding: 0 32rpx;
}
.header {
    width: 100%;
    height: 614rpx;
    background: linear-gradient(180deg, #fefaf1 0%, #fcf0d8 100%);
    margin-bottom: 52rpx;
    border-bottom-left-radius: 90rpx;
    overflow: hidden;
    padding: 60rpx 0;
    // justify-content: space-around;
    color: #272625;
    position: relative;
    .available {
        width: 50%;
        &:first-child {
            &::after {
                position: absolute;
                content: "";
                width: 1rpx;
                height: 75rpx;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .available-num {
            text-align: center;
            font-size: 56rpx;

            // color: #584028;
        }
        .available-text {
            // color: rgba(88, 64, 40, 0.6);
            font-size: 24rpx;
        }
    }
    .header-bottom {
        justify-self: flex-end;
    }
}
.total {
    margin-top: 200rpx;
    text-align: center;
    .label {
        color: #272625;
        font-size: 28rpx;
    }
    .value {
        color: #f03737;
        font-size: 72rpx;
        position: relative;
    }
    .recharge {
        position: absolute;
        right: -30rpx;
        top: 50%;
        transform: translateX(100%) translateY(-50%);
        font-size: 24rpx;
        width: 108rpx;
        height: 54rpx;
        border-radius: 999rpx;
        background: linear-gradient(180deg, #f66d6d 0%, #f03737 100%);
        color: #fff;
        text-align: center;
        line-height: 54rpx;
    }
}
.points-details {
    // margin: 72rpx 0 36rpx 0;
    padding-top: 24rpx;
    padding-bottom: 36rpx;
    color: #2a2b2c;
    font-size: $uni-font-size-middle;
    position: sticky;
    z-index: 999;
    .shape {
        margin-right: 17rpx;
        width: 4rpx;
        height: 26rpx;
        border-radius: 358rpx;
        background-color: $uni-color-primary;
    }
}
.account {
    margin-bottom: 22rpx;
    padding: 46rpx 32rpx;
    background: $uni-bg-color;
    border-radius: 24rpx;
    justify-content: space-between;
    .share {
        .text-share {
            font-size: $uni-font-size-middle;
            color: #2a2b2c;
        }
        .data-surplus {
            margin-top: 47rpx;
            font-size: $uni-font-size-sm;
            color: $uni-text-color-tip;
            .surplus {
                margin-top: 24rpx;
                .text-surplus {
                    font-size: $uni-font-size-middle;
                    color: #2a2b2c;
                }
            }
        }
    }
    .text {
        font-size: 42rpx;
        &.positive {
            background: linear-gradient(180deg, #24db5a 0%, #3dbc5f 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
        &.negative {
            color: $uni-color-primary;
        }
    }
    .text-integral {
        color: $uni-color-primary;
        font-size: 42rpx;
    }
    .text-negative {
        background: linear-gradient(180deg, #24db5a 0%, #3dbc5f 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        // background-clip: text;
        // text-fill-color: transparent;
        font-size: 42rpx;
    }
}
.img-empty {
    width: 400rpx;
    height: 400rpx;
    margin: 260rpx auto 0;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
