.background-list-container {
    padding: 30rpx 0;
    background-color: black;
    color: #fff;
    width: 100%;
    height: 100%;
    .scroller {
        height: 100%;
        margin-bottom: 80rpx;
        // width: 100%;
        // overflow-y: auto;
    }
    .background-list-content {
        margin-bottom: 20rpx;
        display: grid;
        grid-template-columns: 328rpx 328rpx;
        grid-template-rows: auto;
        grid-gap: 30rpx;
        justify-content: center;
        .background-detail {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 328rpx;
            height: 536rpx;
            // &::after {
            //     content: "";
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 100%;
            //     z-index: 248;
            // }
            .background-media {
                width: 328rpx;
                height: 459rpx;
                border-radius: 20rpx;
            }
            .border-dashed {
                border: 1px dashed #fff;
            }
            .background-text {
                flex: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .video-mask {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 999;
            }
        }
    }
    .nomore {
        text-align: center;
        height: 80rpx;
    }
}
