.flex-box {
    display: flex;
    &.bottom {
        align-items: flex-end;
    }
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.bottom {
        align-items: flex-end;
    }
    &.top {
        align-items: flex-start;
    }
    &.stretch {
        align-items: stretch;
    }
}

.flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-center {
    display: flex;
    align-items: center;
}
.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-shrink-0 {
    flex-shrink: 0;
}
.flex-rest-width {
    width: 0;
    flex: 1;
}
.flex-rest-height {
    height: 0;
    flex: 1;
}
.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-column-h-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-column-all-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-column-100 {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-grow-0 {
    flex-grow: 0;
}
.pr {
    position: relative;
}
.noscrollbar {
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
        color: transparent;
    }
}
