.bg-chooser {
    padding: 26rpx 24rpx 26rpx 40rpx;
    color: #fff;
    background-color: #24252d;
    border-radius: 20rpx;
    margin: 12rpx 32rpx;
    .left {
        font-size: 32rpx;
    }
    .right {
        font-size: 24rpx;
    }
    .icon-frame {
        width: 28rpx;
        height: 28rpx;
        margin-right: 28rpx;
    }
    .icon-forward {
        margin-left: 12rpx;
    }
    .thumb-background-image {
        width: 36rpx;
        height: 36rpx;
    }
}

.video-preview {
    text-align: center;
    padding-bottom: 22rpx;
}
.cover {
    height: 100%;
    max-width: 100%;
}
.drawer {
    padding: 32rpx;
    padding-top: 54rpx;
    padding-bottom: 54rpx;
    // padding-bottom: constant(safe-area-inset-bottom);
    // padding-bottom: env(safe-area-inset-bottom);
    background-color: #1a1820;
    position: relative;
    height: 820rpx;
    &.isSmall {
        height: 660rpx;
    }
}
.tag {
    position: absolute;
    color: #fff;
    right: 0;
    top: 0;
    transform: translateX(100%) translateY(-50%);
    font-size: 24rpx;
}
.handler {
    position: absolute;
    width: 72rpx;
    padding: 12rpx;
    height: 12rpx;
    box-sizing: content-box;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
    &::after {
        content: "";
        position: absolute;
        width: 72rpx;
        height: 12rpx;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        background: #7b7379;
        border: 1px solid #867f84;
        border-radius: 999rpx;
    }
}
.op-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20rpx;
    // justify-content: space-between;
}
.op {
    &.active {
        .icon-wrap {
            border-color: #ea3598;
        }
    }
    .icon-wrap {
        width: 121rpx;
        height: 124rpx;
        background-color: #24252d;
        border: 1rpx solid #262931;
        border-radius: 12rpx;
        .icon-op {
            width: 58rpx;
            height: 58rpx;
        }
    }
    .op-name {
        margin-top: 16rpx;
        font-size: 24rpx;
        line-height: 32rpx;
        color: $uni-text-color-tip;
    }
}
.upload-btn {
    width: max-content;
    height: 90rpx;
    line-height: 90rpx;
    padding: 0rpx 70rpx;
    font-size: 32rpx;
    margin: 0 auto;
}
.scroller {
    // max-height: 556rpx;
    // min-height: 172rpx;
    // &.isSmall {
    //     height: 364rpx;
    // }
}
.stickers {
    display: flex;
    flex-wrap: wrap;
    gap: 32rpx 16rpx;
    .sticker {
        width: 159rpx;
        height: 164rpx;
        border-radius: 12rpx;
        background: #24252d;
        border: 1px solid #262931;
        &.active {
            border-color: #ea3598;
        }
    }
    .img {
        width: 106rpx;
        height: 106rpx;
    }
}
.check-btn-list {
    margin: 0 82rpx;
    margin-top: 60rpx;
}
.check-btn {
    height: 90rpx;
    border-radius: 999rpx;
    background: #24252d;
    border: 1px solid #262931;
    &.no {
        width: 105rpx;
    }
    &.yes {
        width: 175rpx;
    }
}
