.guide {
    width: 607rpx;
    border-radius: 36rpx;
    background: #fff;
    z-index: 9999;
    padding: 74rpx;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    .content {
        display: flex;
        justify-content: center;
        padding-top: 11rpx;
        position: relative;
        width: 412rpx;
        height: 289rpx;
        overflow: hidden;
        background-color: #f6f6f6;
        border-radius: 30rpx;
        .step {
            font-size: $uni-font-size-middle;
            color: #4c2e1d;
            padding: 27rpx 0;
        }
        .action {
            font-size: $uni-font-size-base;
            color: #8c6c32;
            font-weight: 300;
        }
    }
    .dots {
        display: flex;
        justify-content: center;
        margin-top: 41rpx;
        margin-bottom: 74rpx;
        .dot {
            background-color: #b5ab9b;
            width: 12rpx;
            height: 12rpx;
            margin: 0 11rpx;
            border-radius: 50%;
            transition: all 0.5s ease-in-out;

            &.active {
                width: 30rpx;
                background-color: #db9d39;
                border-radius: 50rpx;
            }
        }
    }

    .swiper {
        width: 388rpx;
        height: 210rpx;
        background-color: #ffeed0;
        border-radius: 20rpx;
    }
    .duck {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 32%;
        height: 52%;
        transform: translateY(25rpx);
        transform-origin: center 200rpx;
        &.active {
            animation: duck-duck 1s ease-in-out forwards;
        }
    }
    @keyframes duck-duck {
        0% {
            transform: rotate(0) translateY(25rpx);
        }
        20% {
            transform: rotate(26deg) translateY(25rpx);
        }
        40% {
            transform: rotate(-16deg) translateY(25rpx);
        }
        60% {
            transform: rotate(12deg) translateY(25rpx);
        }
        80% {
            transform: rotate(-6deg) translateY(25rpx);
        }
        100% {
            transform: rotate(0) translateY(25rpx);
        }
    }

    .title {
        font-size: 42rpx;
        color: #2a2b2c;
    }
    .desc {
        font-size: $uni-font-size-base;
        color: #7b7379;
        margin-top: 25rpx;
        margin-bottom: 46rpx;
        white-space: pre-line;
    }
    .close-icon {
        font-size: 34rpx;
        font-weight: 300;
        width: 60rpx;
        height: 60rpx;
        line-height: 50rpx;
        position: absolute;
        right: 0;
        top: -80rpx;
        border: 1rpx #fff solid;
        border-radius: 50%;
    }
    .btns {
        width: 100%;
        display: flex;
        gap: 20rpx;
        .close {
            width: 100%;
            max-width: 315rpx;
        }
    }
    .close {
        height: 94rpx;
        line-height: 94rpx;
        border-radius: 100rpx;
        margin: 0 auto;
        color: #4c2e1d;
        background: linear-gradient(180deg, #ffe6bd 0%, #fcd697 100%);
    }
}
