.header {
    justify-content: space-between;
    margin-top: 40rpx;
    margin-bottom: 70rpx;
    &.weapp {
        margin-top: 4rpx;
        justify-content: flex-start;
        .back-wrap {
            width: 48rpx;
            height: 48rpx;
            margin-right: 32rpx;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .search-input {
        padding: 14rpx 42rpx;
        background: #f3eded;
        border-radius: 542rpx;
        width: 600rpx;

        &.weapp {
            width: 416rpx;
        }
        .line {
            height: 26rpx;
            border: 1rpx solid #3d3d3d;
            margin-right: 25rpx;
            // width: 26rpx;
            // transform: rotate(89.27deg);
        }
        .text {
            color: #3d3d3d;
            font-size: $uni-font-size-base;
        }
    }
}
// .goods{
//     .cover{
//         width: 160rpx;
//         height: 160rpx;
//     }
// }
