.form {
    margin-bottom: 148rpx;
}
.wel {
    position: relative;
    margin-top: 120rpx;
    image {
        width: 76rpx;
        height: 76rpx;
    }
    .text {
        position: absolute;
        top: 0;
        left: 98rpx;
        line-height: 76rpx;
        font-size: 44rpx;
        color: $uni-text-color;
    }
}

.method {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 147rpx;
    padding: 0 45rpx;
    button {
        color: #7b7379;
        font-size: $uni-font-size-base;
    }
}
.btn-login {
    margin-top: 47rpx;
    font-size: $uni-font-size-lg;
    color: $uni-text-color-inverse;
    background: $uni-color-primary;
    border-radius: 454rpx;
    height: 98rpx;
    line-height: 98rpx;
}
.agree {
    display: flex;
    margin-top: 66rpx;
    margin-bottom: 270rpx;
    font-size: $uni-font-size-sm;
    color: #6c7276;
    justify-content: center;
    .hook {
        margin-right: 5rpx;
    }
}
.router {
    margin: 250rpx auto 0;
    width: max-content;
    color: #fff;
    background-color: #9e8eaf;
    border-radius: 999rpx;
    display: flex;
    align-items: center;
    padding: 12rpx 12rpx 12rpx 30rpx;
    .router-icon {
        width: 50rpx;
        height: 50rpx;
        margin-left: 16rpx;
    }
}
