.stage {
    padding: 0 32rpx;
    background-color: #f7f8fa;
}
.integra-tip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 38rpx 48rpx;
    color: $uni-text-light-black;
    border-radius: 28rpx;
    overflow: hidden;
    margin-bottom: 24rpx;
    background-color: #fff;
    .integra-icon {
        width: 44rpx;
        height: 44rpx;
        margin-right: 16rpx;
        vertical-align: middle;
    }
    .integra-context {
        display: flex;
        .integra-text {
            margin-right: 8rpx;
            color: $uni-color-primary;
            font-weight: bold;
        }
    }
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 48.5px;
    color: $uni-color-primary;
    box-sizing: border-box;
    border: 1px solid $uni-color-primary;
}
.add-video-container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 432rpx;
    height: 494rpx;
    padding-top: 30rpx;
    border-radius: 40px;
    opacity: 1;
    background: #ffffff;
    .video-icon {
        width: 178rpx;
        height: 131rpx;
    }
    .add-video-button {
        width: 221rpx;
        height: 72rpx;
        margin-top: 60rpx;
    }
}
.selected-video-container {
    position: absolute;
    left: 0;
    top: 3%;
    width: 100vw;
    height: 70%;
    background-color: black;
    .video-thumb {
        width: 100%;
        height: 100%;
    }
}
.footer-bar {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 170rpx;
    padding-top: 12rpx;
    // padding: 12rpx 0 60rpx;
    background-color: #fff;
    .choose-btn {
        width: 281rpx;
        height: 90rpx;
        margin-right: 30rpx;
    }
    .next-btn {
        width: 281rpx;
        height: 90rpx;
        margin-left: 30rpx;
        color: #fff;
        background-color: $uni-color-primary;
    }
    .disabled-btn {
        background-color: $uni-color-disabled;
        border: 1px solid $uni-color-disabled !important;
    }
}
