.container {
    background-color: #fff;
}
.share {
    padding-top: 43rpx;
    position: relative;
    .poster-img {
        width: 580rpx;
        height: 927rpx;
    }
    .code-img {
        display: none;
        position: absolute;
        top: 800rpx;
        right: 172rpx;
        width: 103rpx;
        height: 103rpx;
    }
    .share-btn {
        color: $uni-text-color-inverse;
        // background: $uni-color-primary;
        background: linear-gradient(180deg, #eb62ad 5%, #ea3598 100%);
        border-radius: 224rpx;
        width: 394rpx;
        height: 92rpx;
        margin-top: 123rpx;
    }
    .popup {
        margin-top: 66rpx;
        color: $uni-text-color;
        font-size: $uni-font-size-lg;
        .share-content {
            // flex-direction: row;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            font-size: $uni-font-size-base;
            .item {
                margin-top: 62rpx;
                .item-img {
                    width: 112rpx;
                    height: 112rpx;
                    margin-bottom: 32rpx;
                }
            }
        }
        .cancel-btn {
            background: #9e8eaf;
            color: $uni-text-color-inverse;
            width: 394rpx;
            height: 92rpx;
            border-radius: 300px;
            margin: 80rpx 0 65rpx 0;
        }
    }
}
.share-code {
    padding: 44rpx 46rpx;
    border-radius: 32rpx;
    background: #edeef1;
    width: 580rpx;
    margin-top: 40rpx;
    color: $uni-text-color;
}
