.wrap-bg {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
.setting-app {
    display: flex;
    justify-content: flex-end;
}
// .setting {
//     z-index: 100;
// }
.setting-img {
    margin: 5rpx;
    width: 46rpx;
    height: 46rpx;
}
.userbar {
    margin-top: 21rpx;
    margin-bottom: 70rpx;
    justify-content: space-between;
    .avatar {
        width: 124rpx;
        height: 124rpx;
        border-radius: 50%;
    }
    .content {
        margin: 0 26rpx;
        align-items: flex-start;
        width: auto;
        .title {
            font-size: $uni-font-size-middle;
            margin-bottom: 10rpx;
        }
        .intro {
            color: $uni-text-color-tip;
            font-size: $uni-font-size-base;
        }
    }
}
.integral {
    margin: 18rpx -30rpx 0 0;
}
.integral-item {
    padding: 14rpx 38rpx 14rpx 18rpx;
    border-radius: 36rpx 0rpx 0rpx 36rpx;
    background: linear-gradient(0deg, #ffdbd0 0%, #ffecea 88%);
    margin-bottom: 12rpx;
    .heart-img {
        margin-right: 17rpx;
        width: 31rpx;
        height: 31rpx;
    }
}

.signbar {
    padding: 38rpx 48rpx;
    color: $uni-text-light-black;
    border-radius: 28rpx;
    overflow: hidden;
    margin-bottom: 24rpx;
    .vip {
        width: 48rpx;
        height: 48rpx;
        margin-right: 8rpx;
    }
    .arrow {
        width: 40rpx;
        height: 40rpx;
        margin-left: 26rpx;
    }
    .date {
        font-size: $uni-font-size-sm;
        color: $uni-text-light-black;
    }
}
.tabbar {
    .tab {
        width: 336rpx;
        height: 156rpx;
        padding: 34rpx 30rpx;
        border-radius: 36rpx;
        position: relative;
        margin-bottom: 24rpx;
        &.fan {
            background: linear-gradient(244deg, #ffdbd0 13%, #ffecea 94%);
            .tab-title {
                color: $uni-color-primary;
            }
        }
        &.share {
            background: linear-gradient(244deg, #e3efff 4%, #e6f4ff 88%);
            .tab-title {
                color: $uni-color-inverse;
            }
        }
        .tab-title {
            font-size: $uni-font-size-middle;
            font-weight: bold;
            margin-bottom: 10rpx;
        }
        .intro {
            font-size: $uni-font-size-sm;
            color: $uni-text-color-tip;
        }
        .tab-img {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
        }
    }
}
.navlist {
    background-color: #fff;
    padding: 32rpx;
    border-radius: 36rpx;
    .nav {
        padding: 24rpx 0;
        .nav-icon {
            width: 52rpx;
            height: 52rpx;
        }
        .nav-content {
            margin-right: 12rpx;
            margin-left: 26rpx;
            font-size: $uni-font-size-middle;
        }
        .tip {
            color: $uni-text-color-tip;
            font-size: $uni-font-size-sm;
        }
    }
}
.apply {
    position: relative;
    padding: 191rpx 62rpx 106rpx 62rpx;
    width: 607rpx;
    height: 740rpx;
    border-radius: 36rpx;
    background: #ffffff;
    box-shadow: inset 2rpx 2rpx 0rpx 0rpx rgba(255, 255, 255, 0.7);
    .apply-img {
        position: absolute;
        top: -104rpx;
        left: 50%;
        transform: translateX(-50%);
        width: 314rpx;
        height: 314rpx;
    }
    .apply-close {
        position: absolute;
        top: -88rpx;
        right: 0;
    }
    .apply-title {
        color: #2a2b2c;
        text-align: center;
        font-size: 42rpx;
    }
    .apply-text {
        color: #7b7379;
        font-size: $uni-font-size-base;
        line-height: 42rpx;
        margin-top: 60rpx;
        margin-bottom: 105rpx;
    }
    .apply-btn {
        width: 315rpx;
        height: 94rpx;
        line-height: 94rpx;
        border-radius: 522rpx;
        background: linear-gradient(180deg, #ffe6bd 0%, #fcd697 100%);
        color: #4c2e1d;
        font-size: $uni-font-size-middle;
    }
}
.crown {
    position: absolute;
    width: 87rpx;
    height: 87rpx;
    top: 0;
    left: 50%;
    transform: translateX(-10%) translateY(-52%);
}
